{% extends "/base.html" %}

{% block content %}

<div class="page_elements">
    <div class="page-title">
        <h1><span class="dots">::</span> {{ title }}</h1>
    </div>
    <div class="page" id="index-writers-pass">
        <form method="get" action="/api/v1/writers/check_pass" class="pass-form">
            <label for="pswd">Entrez le mot de passe : </label>
            <input type="password" id="pswd" name="pswd">
            <input type="submit" class="editor-button" value="Submit"/>
        </form>
    
    </div>
</div>
{% endblock content%}