@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    margin: 0;
    padding: 0;
}


/* nav {
    display: flex;
    background-color: var(--nav-bg-color);
    position: fixed;
    height: 127px;
    margin-top: 0;
}

.nav-container-left {
    display: flex;
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    font-size: 18pt;
    width: 50%;
    cursor: pointer;
}

.nav-container-left img {
    max-width: 85px;
    margin-left: 22px;
    margin-right: 22px;
}

.nav-container-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.nav-container-right .links {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.nav-container-right .links h2 {
    margin-right: 70px;
    text-decoration: underline;
}

.nav-container-right .links > a {
    text-decoration: none;
}

.nav-container-right .links h2,
.nav-container-right .links a {
    transition: all 0.2s ease;
} */


:root {
    --nav-height: 100px;
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: var(--nav-bg-color);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    padding: 1em;
    position: fixed;
    height: var(--nav-height);
    margin-top: 0;
    z-index: 999;
    width: 100%;
}

.nav-container-left {
    display: flex;
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    cursor: pointer;
}

.nav-container-left h1 {
    font-size: xx-large;
}

.nav-container-left img {
    max-width: 85px;
    margin-left: 10px;
    margin-right: 22px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0 3% 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
}

.menu > li {
    margin: 0;
    overflow: hidden;
}

.menu > li > a {
    margin: 0;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    transition: all 0.2s ease;
    text-decoration: none;
}

.menu > li > a:hover {
    color: #f88f25;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 1230px) {
    :root {
        --nav-height: 50px
    }

    .nav-container-left img {
        max-width: 40px;
        margin-left: 0;
        margin-right: 10px;
    }

    nav {
        height: var(--nav-height);
    }

    .menu-button-container {
        display: flex;
        margin-right: 10%;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: calc(var(--nav-height) + 2em);
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}







a {
    color: var(--nav-link-color)
}



.page_elements {
    padding: 20px 0px 20px 20px;
    margin-left: 5vw;
    padding-top: 127px;
}

.page-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* box-shadow: var(--page-titles-shadow); */
    margin-top: 25px;
    margin-right: 5vw;
    width: 90vw;
    border-radius: 15px;
}

.page-title h1 {
    padding: 0;
    margin: 0;
    max-width: 80%;
    text-shadow: var(--page-titles-shadow);
    font-size: 60pt;
}

.page-title h2 {
    padding: 30px 0px 0px 0px;
    margin: 0 0 30px 0;
    max-width: 55%;
    text-shadow: var(--page-titles-shadow);
    font-size: 25px;
}

.page {
    display: flex;
    align-items: flex-end;
}

.dots {
    color: var(--main-dots-color);
    text-shadow: var(--page-titles-shadow);
}