:root {
    --main-bg-color: #f8f8fa;
    --main-txt-color: #242424;
    --main-dots-color: #002d61;

    --nav-bg-color: #cc3232;
    --nav-link-color: #000000;

    --page-titles-shadow: 0px 3px 6px rgb(129, 129, 129);

    --custommd-hover-bg-color: #dad8d8;
    --custommd-border-h2-color: #1f1f1f;
    --custommd-h2-color: #1f1f1f;
    --custommd-h5-color: #777777;

    --presentation-input-submit-color: #000000;
    --presentation-input-submit-bg-color: #ee3737;
    --presentation-input-submit-hover-bg-color: #b11e1e;

    --faq-title-color: #000000;
    --faq-border-button-color: #f88f25;
    --faq-button-bg-color: #f88f25;
    --faq-button-color: #000000;
    --faq-button-hover-color: #f88f25;
    --faq-button-hover-after-border-color: #03b5d2;
}





.red {
    color: #f56b3a;
}

.blue {
    color: #6280c2;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.yellow {
    color: #fdc10a;
}

.orange {
    color: orange;
}

.pink {
    color: pink;
}

.brown {
    color: brown;
}

.black {
    color: black;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.lightgray {
    color: lightgray;
}

.darkgray {
    color: darkgray;
}