:root {
    --main-bg-color: #2b2d31;
    --main-txt-color: #ffffff;
    --main-dots-color: #f88f25;

    --nav-bg-color: #202020;
    --nav-link-color: #ffffff;

    --page-titles-shadow: 0px 3px 6px black;

    --custommd-hover-bg-color: #474747;
    --custommd-border-h2-color: #808080;
    --custommd-h2-color: #dadada;
    --custommd-h5-color: #777777;

    --presentation-input-submit-color: #ffffff;
    --presentation-input-submit-bg-color: #919191;
    --presentation-input-submit-hover-bg-color: #5c5c5c;

    --faq-title-color: #e4e4e4;
    --faq-border-button-color: #f88f25;
    --faq-button-bg-color: #f88f25;
    --faq-button-color: #c4c4c4;
    --faq-button-hover-color: #ffffff;
    --faq-button-hover-after-border-color: #03b5d2;
}





.red {
    color: #f56b3a;
}

.blue {
    color: #6280c2;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.yellow {
    color: #fdc10a;
}

.orange {
    color: orange;
}

.pink {
    color: pink;
}

.brown {
    color: brown;
}

.black {
    color: black;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.lightgray {
    color: lightgray;
}

.darkgray {
    color: darkgray;
}