.editor {
    display: flex;
    max-width: 100%;
    margin-top: 150px;
}

.absolute {
    position: absolute;
    z-index: 200000;
}

.load-page-choose {
    display: none;
    z-index: -100;
    max-width: 360px;
    flex-direction: column;
    opacity: 0;
    top: 245px;
    left: 910px;
    background-color: var(--custommd-hover-bg-color);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 2em var(--main-dots-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.load-page-choose h2 {
    margin-top: 0;
}

.load-page-choose .choose-close {
    margin-top: 30px;
    align-self: flex-end;
}

.load-page-choose button,
.load-page-choose .elements > * {
    color: white;
    padding: 12px;
    width: max-content;
    margin: 2px 3px;
}

/* Global Styles */

#result-container {
    display: block;
}

.custom_md {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
}

.custom_md > * {
    text-align: justify;
    transition: 0.2s ease-in-out;
}

.custom_md > *:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--custommd-hover-bg-color);
    border-radius: 5px;
}

.custom_md h2 {
    font-weight: bold;
    border-top: 3px solid var(--custommd-border-h2-color);
    color: var(--custommd-h2-color);
}

.custom_md h5 {
    color: var(--custommd-h5-color);
}

.custom_md img {
    margin-bottom: 0;
}

.return {
    cursor: pointer;
    color: var(--main-txt-color);
    page-break-after: always;
    transition: all 0.5s ease;
    background-color: var(--presentation-input-submit-bg-color);
    border: none;
    display: block;
    text-decoration: none;
    margin-right: 4vw;
}

code {
    color: crimson;
}

@media screen and (max-width: 700px) {}

@media screen and (min-width: 701px) and (max-width: 999px) {
    :root {
        --custommd-width: 94%;
    }
    
    .custom_md {
        max-width: var(--custommd-width);
        padding: 0;
        margin: 0;
    }

    .custom_md > * {
        padding: 5px 15px 5px 15px;
    }

    .custom_md h1 {
        font-size: 20pt;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .custom_md h2 {
        font-size: 26px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .custom_md h5 {
        font-size: 16px;
    }
    .custom_md p {
        font-size: 10pt;
    }
    
    .custom_md img {
        max-width: calc(var(--custommd-width));
        max-height: calc(var(--custommd-width));
    }
    .custom_md .img_sub {
        font-size: 13px;
        margin-top: 2px;
    }
    
    .return,
    .editor-inside-button {
        padding: 1vw;
        font-size: 15pt;
        border-radius: 8px;
    }
}



@media screen and (min-width: 1001px) {
    :root {
        --custommd-width: 45vw;
    }

    .custom_md {
        max-width: var(--custommd-width);
        padding: 20px;
    }

    .custom_md > * {
        padding: 5px 15px 5px 15px;
    }

    .custom_md h1 {
        font-size: 20pt;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .custom_md h2 {
        font-size: 26px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .custom_md h5 {
        font-size: 16px;
    }
    .custom_md p {
        font-size: 17px;
    }

    .custom_md img {
        max-width: calc(var(--custommd-width) - 2vw);
        max-height: calc(var(--custommd-width) - 2vw);
    }
    .custom_md .img_sub {
        font-size: 13px;
        margin-top: 2px;
    }

    .return,
    .editor-inside-button {
        padding: 1vw;
        font-size: 15pt;
        border-radius: 8px;
    }
}

.editor-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.editor-buttons > * {
    height: 25%;
    width: 30%;
    margin: auto;
}

.editor-button {
    transition: all 0.2s ease;
    height: 25%;
    width: 30%;
    margin: 0;
    text-align: center;
    background-color: #404040;
    border: 1px solid var(--custommd-border-h2-color);
    border-radius: 50px;
}

.editor-button:hover {
    transform: scale(0.97);
    background-color: var(--main-dots-color);
    box-shadow: 0 0 1em var(--main-dots-color);
    cursor: pointer;
}


textarea {
    border-radius: 8px;
    background-color: #404040;
    color: white;
    border: 1px solid var(--custommd-border-h2-color);
}

textarea:focus-visible,
.pass-form input[type="password"] {
    outline: none;
}

#index-writers-pass {
    height: 20vh;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
}

.pass-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #404040;
}

.pass-form label[for="pswd"] {
    font-size: 24pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pass-form input[type="password"] {
    font-size: 18pt;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin: 10px 0;
    width: 100%;
}

.pass-form input[type="submit"] {
    border: none;
    background-color: #efefef;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.page-title {
    position: fixed;
}

.writing-area {
    height: min-content;
    position: fixed;
}

.preview-area {
    margin-left: 45%
}