<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | SOC</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/{{ stylesheet }}" />
    <link rel="icon" href="static/assets/logo.png" />
</head>
<body>
    <nav>
        <div class="nav-container-left">
            <img src="static/assets/logo.png" alt="logo du site"/>
            <h1>Semaine de l'orientation</h1>
        </div>
        <div class="nav-container-right">
            <div class="links">
                <a href="/faq"><h2>FAQ</h2></a>
                <a href="/ressources"><h2>Ressources</h2></a>
                <a href="/presentation"><h2>Présentation</h2></a>
                <a href="/"><h2>Accueil</h2></a>
            </div>
        </div>
    </nav>

    <div class="page_elements">
        <div class="page-title">
            <h1><span class="dots">::</span> La SOC</h1>
            <h2>Une semaine pour tout changer : <span class="red">ose</span>, <span class="blue">explore</span>, <span class="yellow">choisis</span></h2>
        </div>
        <div class="page">
            <img src="static/assets/arrows.jpeg" alt="flèches" class="arrows_img" />
            <h3 class="image_right_text">La semaine de l'orientation, c'est des ateliers animés par votre professeurs pour vous aider à trouver ou confirmer vos choix pour votre futur</h3>
        </div>
    </div>

</body>
</html>