{% extends "/base.html" %}

{% block content %}
    <div class="page_elements">
        <div class="page-title">
            <h1><span class="dots">::</span> La SOC</h1>
            <h2>Une semaine pour tout changer : <span class="red">ose</span>, <span class="blue">explore</span>, <span class="yellow">choisis</span></h2>
        </div>
        <!-- <div class="page">
            <img src="static/assets/arrows.png" alt="flèches" class="arrows_img" />
        </div>
        <br /> -->
        <h1> Mais, c'est quoi ?</h1>
        <h3 class="image_right_text">La semaine de l'orientation, c'est des ateliers animés par vos professeurs pour vous aider à trouver ou confirmer vos choix pour votre futur</h3>
        <h1>Du texte important</h1>
        <p style="width: 75vw">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis neque nisl. Maecenas hendrerit felis et mattis semper. Praesent nec enim mi. Aliquam lectus magna, cursus et elit eu, finibus egestas neque. Sed sollicitudin tellus ut faucibus laoreet. Sed congue aliquam leo, vel dapibus risus tristique eu. Fusce nunc mi, aliquet vel justo nec, tristique malesuada felis. Nulla feugiat tellus erat, ac molestie purus elementum eget. Suspendisse tincidunt ultricies luctus. Sed at ex ac mauris porttitor volutpat. Donec rutrum ut nibh luctus interdum.

            Sed interdum ex nec molestie tristique. Phasellus pulvinar tortor eget turpis dapibus, quis aliquam risus ultricies. Donec laoreet purus sit amet risus sollicitudin, id consequat purus consequat. Vivamus iaculis lacus non tristique suscipit. Suspendisse orci eros, suscipit id tempus eget, cursus eu elit. Suspendisse a quam id ligula semper consectetur. Vestibulum in ipsum mollis, commodo ante a, tincidunt neque. Aenean tempor semper eros tincidunt tincidunt. Quisque gravida id tortor a efficitur. Donec vestibulum pellentesque felis vel posuere. Mauris semper ipsum eget dictum cursus. Ut accumsan sem non gravida facilisis. Aliquam et dui odio.
            
            Maecenas eleifend justo vitae nisi porttitor ullamcorper. Curabitur sit amet volutpat nunc, sit amet euismod mauris. Sed maximus in odio et viverra. Sed ut arcu est. Morbi vestibulum nunc ac posuere porta. Duis vehicula lacus vitae lacus aliquet semper. Donec et augue vestibulum, facilisis ante quis, condimentum nibh. Nam eu nulla ornare, dictum nibh sed, viverra ipsum. Fusce eu tempus sem. Proin sit amet arcu metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla dictum, velit at aliquam interdum, tellus orci lobortis turpis, nec cursus risus tortor aliquet arcu.
            
            Integer eleifend orci sit amet erat sagittis aliquam. In ac ex libero. Fusce nunc purus, ultrices non ultricies quis, tincidunt ac purus. Curabitur auctor nunc eget facilisis dictum. Vestibulum vehicula neque eros, a posuere lectus bibendum a. Maecenas vulputate nisi sit amet neque efficitur finibus. Suspendisse a lacinia ex, non gravida ante. Integer et nunc enim.
            
            Integer tempor mattis justo. Quisque pharetra tristique odio ut elementum. Aliquam vulputate tincidunt enim. Nulla mauris turpis, elementum nec facilisis non, iaculis ac arcu. Nulla volutpat accumsan sollicitudin. Phasellus commodo ex vitae mauris dapibus convallis. Vivamus id ultrices dui. Donec turpis eros, ornare ornare dui sit amet, facilisis congue leo.</p>
    </div>
{% endblock content %}