<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | SOC</title>
    <link rel="stylesheet" href="static/css/{{ stylesheet }}" />
</head>
<body>
    {% include 'nav.html' %}

    <div class="page_elements">
        <div class="page-title">
            <h1><span class="dots">::</span> La SOC</h1>
            <h2>Une semaine pour tout changer : <span class="red">ose</span>, <span class="blue">explore</span>, <span class="yellow">choisis</span></h2>
        </div>
        <div class="page">
            <img src="static/assets/arrows.jpeg" alt="flèches" class="arrows_img" />
            <h3 class="image_right_text">La semaine de l'orientation, c'est des ateliers animés par votre professeurs pour vous aider à trouver ou confirmer vos choix pour votre futur</h3>
        </div>
    </div>

</body>
</html>