<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | SOC</title>
    <link rel="stylesheet" href="static/css/{{ stylesheet }}" />
</head>
<body>
    {% include 'nav.html' %}

    <div class="page_elements">
        <div class="page-title">
            <h1><span class="dots">::</span> {{ title }}</h1>
        </div>
        <div class="page">


            {% if is_arg %}

                <link rel="stylesheet" href="static/css/custommd.css" />

                <div class="custom_md">
                    {% include file_name %}
                </div>
                <a href="/presentation"><button class="return">Retour</button></a>

            {% else %}

            <div class="all-buttons">
                {% for file in files_n_titles %}
                    <form method="get">
                        <input type="submit" name="page" value="{{ file[1] }}">
                    </form>
                {% endfor %}
            </div>

            {% endif %}


        </div>
    </div>

</body>
</html>