<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | SOC</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/{{ stylesheet }}" />
    <link rel="icon" href="static/assets/logo.png" />
</head>
<body>
    <nav>
        <div class="nav-container-left">
            <img src="static/assets/logo.png" alt="logo du site"/>
            <h1>Semaine de l'orientation</h1>
        </div>
        <div class="nav-container-right">
            <div class="links">
                <a href="/faq"><h2>FAQ</h2></a>
                <a href="/ressources"><h2>Ressources</h2></a>
                <a href="/presentation"><h2>Présentation</h2></a>
                <a href="/"><h2>Accueil</h2></a>
            </div>
        </div>
    </nav>

    <div class="page_elements">
        <div class="page-title">
            <h1><span class="dots">::</span> Présentation</h1>
        </div>
        <div class="page">
            <div class="all-buttons">
                <a>Le bus l'étincelle</a>
                <a>Le bus l'étincelle</a>
                <a>Le bus l'étincelle</a>
                <a>Le bus l'étincelle</a>
                <a>Le bus l'étincelle</a>
                <a>Le bus l'étincelle</a>
            </div>
        </div>
    </div>

</body>
</html>